.imageDesign{
    width: 2vw;
}


.radiusCircle{
    display: flex;
    justify-content: center;
}

.mapBoxDesign{
    display: flex;
    justify-content: center;
}

.dropDown{
    
    width:100%;
    margin-top: 40vh;
    /* margin-right: 5vw; */
    /* margin-left:5vw; */
}

.whole{
    display: flex;
    justify-content: space-evenly;
}