@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Saira+Condensed&display=swap');

.waiting-bookings{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
    height: 100vh;
    background-color: #ffffff;
    padding: 2%;
}

.current-bookings{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
    height: 100vh;
    background-color: #ffffff;
    padding: 2%;
}
.empty-message-CurrentBookings{
    color:#111;
    margin: 5% auto;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}

.heading-bookings{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    height: 15%;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
    
    background-color: #111!important;

}

.list-bookings{
   margin-top: 5%;
    height: 80%;
    overflow-y: scroll;
    
}

.SpinnerDivCurrentBookings{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}