.waiting-bookings{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
    height: 100vh;
    background-color: #ffffff;
    padding: 2%;
}

.current-bookings{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
    height: 100vh;
    background-color: #ffffff;
    padding: 2%;
}

.heading-bookings{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    height: 15%;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
    
    background-color: #111!important;

}

.list-bookings{
   margin-top: 5%;
    height: 80%;
    overflow-y: scroll;
}