#login .container #login-row #login-column #login-box {
    margin-top: 5%;
    margin-bottom: 20%;
    max-width: 600px;
    height: 40vh;
    border-radius: 10px;
    border: 1px solid #9C9C9C;
    background-color: #ebf2f36b;
}
#login .container #login-row #login-column #login-box #login-form {
padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
margin-top: -85px;
}