.cartHeading{
    margin-left: 20px;
    margin-top: -75px;
    color: white;
    margin-bottom: 40px;
}

.cartImg{
    margin-bottom: 20px;
}

#dropdown-basic::after{
    display: none; 
 }
.dm{
    right: 4px;
    left: auto;
}