.cartHeading{
    margin-left: 13px;
    margin-top: -47px;
    color: white;
    margin-bottom: 30px;
}

.cartImg{
    margin-bottom: 0px;
    margin-left: 5px;
}

#dropdown-basic::after{
    display: none; 
 }
.dm{
    right: 4px;
    left: auto;
}