body {
    font-family: "Droid Sans", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 20px;
    white-space: nowrap;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  
  .material-icons,
  .icon-text {
    vertical-align: middle;
  }
  
  .material-icons {
    padding-bottom: 3px;
    margin-right: 30px;
  }

  .icon-text {
      font-size: large;
  }

  .company {
      color: #f1f1f1;
      font-size: larger;
  }

  .logo {
    padding-bottom: 3px;
    margin-right: 20px;
    margin-left: -5px;
  }
/*   
  #main {
    padding: 16px;
    margin-left: 85px;
    transition: margin-left 0.5s;
  } */
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
  