body{
    background-image: linear-gradient(#b6e0eb, #eef2f3);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .MyHeading{
    margin-top: 10px;
    padding: 30px 0;
    text-align: center;
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    font-size: 1.5rem;
  }