.image-cart{
    max-width: 30vw;
    max-height: 30%;
}


.RemoveButton-Cart{
    color:#17a2b8;
    cursor: pointer;
}

.RemoveButton-Cart:hover{
    text-decoration: underline;
}

.confirmBookingModal .modal-header{
   
    color: #17a2b8;
}

.fileName-Cart{
    color: #17a2b8;
    font-size: 0.9vw;
}

.prescription-failure-cart{
    color:red;
}

.prescription-success-cart{
    color: #5cb85c ;
}