.image-cart{
    max-width: 30vw;
    max-height: 30%;
}


.RemoveButton-Cart{
    color:#17a2b8;
    cursor: pointer;
}

.RemoveButton-Cart:hover{
    text-decoration: underline;
}

.confirmBookingModal .modal-header{
   
    color: #17a2b8;
}